/* CSS code for ContentWrapper */
.ContentWrapper{
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.ContentWrapper .BackgroundComponents{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.ContentWrapper .OverlayComponents{
    top: 0;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.ContentWrapper .ContentComponents{
    z-index: 1;
    top: 0;
}

.absolute{
    position: absolute;
}

/* GridLayout CSS */

.GridLayout {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.GridLayout.mobile {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.GridLayout.mobile > *:nth-child(1) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
}
.GridLayout.mobile > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
}
.GridLayout .GridItem {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}
.GridLayout.mobile .GridItem {
    padding: 10px;
}
.GridLayout * * {
    width: 100%;
}